body {
    font-family: 'Poppins', sans-serif;
}

/*........................................... 
                 partners section
    ...........................................*/
.sponsor-img {
    width: 8%;
}

/*............................................ 
              media queries
 ............................................*/

@media screen and (max-width:600px) {
    h1 {
        font-size: 14px;
    }

    p {
        font-size: 10px;
    }
  
}