body {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 16px;
    }

    p {
        font-size: 10px;
    }
    

}
/* @media screen and (min-width:240) and (max-width:768px) {
    .item-width{
        width: 100%;
    }
  
    
} */